.window {
    display: flex;
    flex-direction: row;

    padding: $spacing2;
    height: 100vh;
}

.appWidgetsLevel_container {
    position: relative;
    flex-grow: 1;

    padding: 0;
    overflow: visible;
}

.collapsing_container {
    flex-grow: 1;
    height: 93.5vh;
    overflow: visible;
}

.mainContent_container {
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;
}