.drawerContainer_closed {
    width: 0;
}

.drawerStyle {
    :global(.MuiDrawer-paper) {
        display: flex;
        flex-shrink: 0;
        width: $detailPane-width;
        height: calc(100vh - 8px - 60px);

        border: none;
        // border-radius: 10px;
        // padding: 2*$spacing2 $spacing4 $spacing4;
        background-color: transparent !important;
        // box-shadow: $shadow-paper-block;
        transition: width 0.2s ease-in-out;

        overflow: visible;
        margin: 60px 8px 0 0;
    }
}

.drawerContainer {
    height: 100%;
    position: relative;
    padding: 2*$spacing2 $spacing4 $spacing4 !important;

    gap: 22px;
}

.paneContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    gap: 22px;
}

.paneContainer div {
    display: flex;
    flex-direction: row;

    gap: $spacing4;
}

// Task Details

// -- Header

.paneHeader {
    justify-content: space-between;
    align-items: center;

    padding-left: 11px;
    margin: 4px 0 2px;
}

.paneHeader button {
    padding: 0;
    color: $color-icons;
}

// -- paneBase

.paneBase {
    justify-content: space-between;
    align-items: center;
}

.paneBase_field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0 !important;

    border-radius: 10px;
    width: 100%;
    height: 46px;

    overflow: hidden;
}

.paneBase_field div {
    height: 46px;
    border-radius: $spacing2;

    padding: 0 !important;
    margin: 0 !important;
}

.paneBase_field input {
    padding: $spacing4 !important;
    margin: 0 !important;
}

.paneBase_field fieldset {
    border-width: 0 !important;
}

//

.somediv {
    display: flex;
    align-items: center;
}

.formControl {
    height: 46px !important;
    width: 100% !important;
    outline: white !important;

}

.baseSelect {
    background-color: transparent !important;
    border-color: $color-text !important;
    border-radius: 10px;

    width: 100% !important;
    overflow: hidden;
}

.baseSelect input {
    padding: 0 !important;


}

// -- paneDate

.paneDate {
    justify-content: space-between;
    align-items: center;
}

.dateDivider {
    width: 1.5px;
    height: 50%;

    background-color: #828282;
    border-radius: 2px;
}

.dateButton {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    padding: 12px 14px;
    gap: 20px;
    border: none;
    border-radius: 10px;

    background-color: $color-innerPaper-block;

    cursor: pointer;

    color: $color-text;

    :global(.MuiListItemIcon-root) {
        color: $color-icons;
    }

    &:hover {
        :global(.MuiListItemIcon-root) {
            color: $color-paper-block;
        }

        background-color: $color-active-primary;
        color: $color-paper-block;
    }

    transition: background-color 0.3s ease-in-out;
}

// -- paneDescription

.paneDescription {
    flex-direction: column !important;
    gap: 10px !important;

    margin-top: 10px;
}

.paneDescription span {
    padding-left: 11px;
}

.paneDescription_field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 0 !important;

    border-radius: 10px;
    // border: 2px solid red;
    width: 100%;


    margin: 0 !important;

    overflow: hidden;
}

.paneDescription_field div {
    min-height: 60px !important;
    max-height: 400px !important;
    border-radius: $spacing2;

    padding: 0 !important;
    margin: 0 !important;
    padding: $spacing4 !important;
    overflow: auto;
}

.paneDescription_field input {
    padding: $spacing4 !important;
    margin: 0 !important;
}

.paneDescription_field fieldset {
    border-width: 0 !important;
}

// -- paneFooter

.paneFooter {
    margin: auto 0 0 !important;
    gap: 20px;

    display: flex;
    flex-direction: column !important;
}

.paneFooter_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    gap: 20px;
}

.paneFooterDate {
    display: flex;
    justify-content: center;
    width: 100%;

    padding: 3*$spacing1;

    border: 1px solid #828282;
    border-radius: 10px;
}

// Text

.paneText {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}