.calendarContainer {
    align-items: center;

    height: 100%;

    overflow-y: auto;
    overflow-x: visible;
    padding-left: 4*$spacing2;

    :global {
        --fc-border-color: #e0e0e0;
        --fc-today-bg-color: rgba(255, 224, 130, 0.5); // Цвет для "сегодня"

        --fc-button-bg-color: #f0f2f5;
        --fc-button-border-color: #e0e0e0;
        --fc-button-text-color: #555;
        --fc-button-active-bg-color: #2962FF;
        --fc-button-active-border-color: #2962FF;

        --fc-event-font-size: 14px;
    }
}

.calendarEvent {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;

    padding: calc($spacing1 + 2px) $spacing2;
    gap: $spacing2;

    color: $color-text;
    background-color: $color-paper-block;
    border-radius: 10px !important;
    box-shadow: $shadow-paper-block;
}

.calendarEvent_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100%;

    gap: $spacing2;
}

.calendarEvent svg {
    padding: 2px;
}